doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")

        title User Dashboard

    body(background-color="#eceff1")
        img(src="http://imgh.us/Dash_Header.png" style="width:100%")
        div.container
            h1 Your Personal Information

            p=fName
            p=lName
            p=email
            p=handle
            p=created
            p=updated
            br
            a(href='/dashboard' style="background-color: #37474f; color: #eceff1; padding: 15px 30px; text-align: center; font-size: 16px; cursor: pointer") Back to dashboard
            br
            br
            br
            br
            a(href='/signout' style="background-color: #37474f; color: #eceff1; padding: 15px 30px; text-align: center; font-size: 16px; cursor: pointer") Logout
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")